{%extends 'base.html'%}
{%load static%}
{%block body%}
<!-- Page Header-->
<header class="masthead" style="background-image: url('{% static 'assets/img/test.png' %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Log in</h1>
                    <span class="subheading">Thank You for signing up</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">

                <div class="my-5">
                    <form id="contactForm" method="post">
                        {%csrf_token%}
                        <div class="form-floating">
                            <input class="form-control" id="id_name" type="text" name="name"
                                placeholder="Enter your name..." required />
                            <label for="id_name">Name</label>
                            <div class="invalid-feedback" data-sb-feedback="name:required">
                                A name is required.
                            </div>
                        </div>

                      
                      

                        <div class="form-floating">
                            <input class="form-control" id="password" type="password" name="password"
                                placeholder="Enter your Passsword Name..." required />
                            <label for="first_name">Password</label>
                            <div class="invalid-feedback" data-sb-feedback="name:required">
                                A Password is required.
                            </div>
                        </div>

               

                       

                        <br />

                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">Form submission successful!</div>
                                To activate this form, sign up at
                                <br />
                                <a
                                    href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                            </div>
                        </div>
                        <!-- Submit error message-->
                        <!---->
                        <!-- This is what your users will see when there is-->
                        <!-- an error submitting the form-->
                        <div class="d-none" id="submitErrorMessage">
                            <div class="text-center text-danger mb-3">
                                Error sending message!
                            </div>
                        </div>
                        <!-- Submit Button-->
                        <button class="btn btn-primary text-uppercase " id="submitButton" type="submit">
                            Send
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{%endblock%}