{%extends 'base.html'%} {%load static%} {%block body%}
<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('{% static 'assets/img/home-bg.jpg'%}')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>HomePage</h1>
          <span class="subheading">This is a Homepage.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  {%if blog %}
  <h2>{{blog.title}}</h2>
  <h5>{{blog.description}}</h5>

  <a href="{%url 'crud:delete' blog.id %}"
    ><button type="submit" class="btn btn-danger">Delete</button>
  </a>
  <a href="{%url 'crud:update' blog.id %}"
    ><button type="submit" class="btn btn-primary">Update</button>
  </a>

  {%endif%} {%if Blogs%} {%for blog in Blogs %}
  <a
    href="{%url 'crud:particular' blog.id%}"
    style="text-decoration: none; color: black"
  >
    <h2>{{blog.title}}</h2>
  </a>
  <h5>{{blog.description}}</h5>
  {%endfor%} {%endif%}
</div>
{%endblock%}
